@using STIFE.Web.Resources
@using i18n
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="~/Content/img/logo.png" rel="shortcut icon" type="image/x-icon" />
    <title>STIFE - [[[Tuniso-Italien company to export an import used clothes]]]</title>
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{ 
        KeyValuePair<string, i18n.LanguageTag>[] langs = LanguageHelpers.GetAppLanguages().OrderBy(x => x.Key).ToArray();
    }
    <div class="loader text-center">
        <div id="loading"></div>
    </div>
    <div id="header-area" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/img/logo.png" alt="STIFE" width="160" height="40" class="img-responsive" />
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-right scroll-me">
                <ul class="nav navbar-nav">
                    <li><a href="#home">[[[Home]]]</a></li>
                    <li><a href="#about">[[[About]]]</a></li>
                    @*<li><a href="#services">SERVICES</a></li>*@
                    @*<li><a href="#works">WORKS</a></li>*@
                    <li><a href="#portfolio">[[[Portfolio]]]</a></li>
                    <li><a href="#contact">[[[Contact]]]</a></li>
                    <li><a href="#impressum">[[[Impressum]]]</a></li>
                    @for (int i = 0; i < langs.Length; i++)
                    {
                        string langtag;
                        string title;
                        string nativelangname;
                        i18n.LanguageTag lt = langs[i].Value;
                        title = lt.NativeNameTitleCase;
                        nativelangname = langtag = lt.ToString().ToUpper();
                        if (!string.IsNullOrEmpty(title))
                        {
                            if (Context.GetPrincipalAppLanguageForRequest().GetNativeNameTitleCase() == title)
                            {
                                <li><a><u>@nativelangname</u></a></li>
                            }
                            else
                            {
                                <li><a title="@title" href="@Url.Action("SetLanguage", "Home", new { langtag = langtag, returnUrl = Request.Url })">@nativelangname</a></li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content" style="display:none">
        @RenderBody()
        <hr />
        <footer class="container-fluid text-center scroll-me">
            <a href="#home" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
            <p>&copy; @DateTime.Now.Year - STIFE</p>
        </footer>
    </div>

    <!--Modal-->
    <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">[[[Close]]]</button>
                </div>
            </div>
        </div>
    </div>


    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    @if (Request.Browser.Browser == "IE" && Request.Browser.MajorVersion < 9)
            {
        <script src="~/scripts/html5shiv.min.js"></script>
        <script src="~/scripts/respond.min.js"></script>
    }
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSgVAszN26lXFcmmrUoWoxoBTrjSSGgR4&callback=myMap"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</body>
</html>